In [1]:
import pandas as pd
import numpy as np

In [17]:
customer_data2 = pd.read_csv('data/customer_data2.csv')
customer_data2.head()

,Lastname,First Name,zip,state,county,city,CustomerID,TransactionID,CustomerDOB,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (USD),Risk Level
0,Abdul,Ruby,12475.0,New York,Ulster,Ruby,C5841053,T1,10/1/94,17819.05,2/8/16,143207.0,25.0,Moderate
1,Abdul,Ruby,29741.0,South Carolina,Chesterfield,Ruby,C2142763,T2,4/4/57,2270.69,2/8/16,141858.0,27999.0,Moderate
2,Abdul,Ruby,99768.0,Alaska,Yukon-Koyukuk,Ruby,C4417068,T3,26/11/96,17874.44,2/8/16,142712.0,459.0,Moderate
3,Mohammad,Louise,77455.0,Texas,Wharton,Louise,C5342380,T4,14/9/73,866503.21,2/8/16,142714.0,2060.0,Very Low
4,Mohammad,Louise,77455.0,Texas,Wharton,Louise,C5342380,T391139,29/5/79,3195.78,13/8/16,194148.0,878.4,Very Low